@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto.eot");
    src: url("fonts/Roboto/Roboto.eot?#iefix")format("embedded-opentype"),
    url("fonts/Roboto/Roboto.woff") format("woff"),
    url("fonts/Roboto/Roboto.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto/Roboto-Light.eot");
    src: url("fonts/Roboto/Roboto-Light.eot?#iefix")format("embedded-opentype"),
    url("fonts/Roboto/Roboto-Light.woff") format("woff"),
    url("fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSansPro";
    src: url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot");
    src: url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot?#iefix")format("embedded-opentype"),
    url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff") format("woff"),
    url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf") format("truetype");
}

.section_profile{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}


/********style Profile********/
.profile {
    align-self: flex-start;
    padding: 61px 0 33px 0;
    margin-top: 30px;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 -1px 54px 0 rgba(208, 211, 218, 0.5);
    background-color: #ffffff;
    text-align: center;
}
.profile .profile_img{
    width: 139px;
    height: 139px;
    border-radius: 100%;
}
.profile .profile_text{
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: #9b9b9b;
    margin:31px 0 57px 0;
}
.profile .profile_btn{
    width: 162px;
    height: 48px;
    font-family: SourceSansPro;
    font-size: 18px;
    line-height: 1.33;
    color: #ff8376;
    border-radius: 3px;
    border: solid 1px #ff8376;
    background: none;
}
.profile button:hover {
    cursor: pointer;
}


/********style Movies********/

.movies {
    align-self: flex-start;
    margin-top: 30px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 -1px 54px 0 rgba(208, 211, 218, 0.5);
    background-color: #ffffff;
}
.movies_text {
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: #9b9b9b;
    margin: 0;
    text-align: center;
    padding: 41px 0 52px 0;
}
.movie_ul{
    padding-left: 65px;
    list-style: none;
    margin: 0 0 10px 0;
}
.movie_ul li{
    padding-bottom: 44px;
}
.movies_link {
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: #ff8376;
    text-decoration: none;
}

/********style Video********/
.video {
    display: flex;
    margin-top: 30px;
    max-width: 630px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 -1px 54px 0 rgba(208, 211, 218, 0.5);
    background-color: #ffffff;
    padding: 0 35px 25px 35px;
}
.video .video_name{
    padding:13px 0 13px 75px;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 0px;
    color: #000000;
    margin: 23px 0 21px 0;
    background: url("images/she.png") no-repeat 0% 50%;
}
.video .video_img {
     position: relative;
    margin-bottom: 25px;
 }
.video .gif {
    cursor: pointer;
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.video .video_ago{
    align-self: center;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0px;
    color: #9b9b9b;
}
.video .video_infoLeft{
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 2px;
    color: #4a4a4a;
    text-transform: uppercase;
    padding-left: 53px;
    background: url("images/play.jpg") no-repeat 0% 50%;
    background-size: 34px 34px;
}
.video .video_infoRight{
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.94px;
    color: #9b9b9b;
    text-align: right;
}
.video .video_infoLeft p,
.video .video_infoRight p{
    margin:0;
}
.video .video_infoRight p:last-child{
    padding-top: 20px;
}
.video .video_infoRight .span_year{
    border: solid 1px #9b9b9b;
    padding: 1px 2px;
}
.video .video_infoRight i{
    padding-right: 51px;
    font-style: normal;
    font-family: "Roboto-Light";
}
.video .span_season{
    padding-left: 16px;
}
.video hr{
    width: 100%;
    margin-block-start: 20px;
    margin-block-end: 20px;
}
.video .video_comment{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.video .video_comment p{
    align-self: center;
    margin: 0;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.94px;
    color: #9b9b9b;
}
.video .video_comment div a:first-child{
    padding-right: 10px;
}