.user-card__box {
    width: 450px;
    height: 397px;
    border-radius: 10px;
    box-shadow: 0 -1px 54px 0 rgba(208, 211, 218, 0.5);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-card__image {
    padding-top: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card__user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #9b9b9b;
}

.user-card__box-link {
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card-prifile__box {
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 48px;
    border-radius: 3px;
    border: solid 1px #ff8376;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ff8376;
}


.user-card__profile {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ff8376;
    margin-top: auto;
}